/* here you can put your own css to customize and override the theme */

.div.tp-caption.large_text.customin.customout.start {
	top: 490px;
}

.site-logo {
	padding: 5px 0 0 0;
}

.spinningimage {

	width: 100%;
    height: 100%;

    -webkit-animation:spin 240s linear infinite;
    -moz-animation:spin 240s linear infinite;
    animation:spin 240s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }